{% extends 'base.html.twig' %}
{% block title %}Sortir | Accueil{% endblock %}
{% block body %}
    <script>
        $(document).ready(function() {
            // you may need to change this code if you are not using Bootstrap Datepicker
            $('.js-datepicker').datepicker({
                format: 'yyyy-mm-dd'
            });
        });
    </script>
    <fieldset>

        {{ form_start(form) }}
        <div id="filtresContainer">

            <div class="filtreLabels">
                {{ form_label(form.campus)}}
                {{ form_widget(form.campus)}}
            </div>

            <div class="filtreLabels">
                {{ form_label(form.q) }}
                {{ form_widget(form.q) }}
            </div>


           <div class="filtreLabels">
               {{ form_label(form.min) }}
               {{ form_widget(form.min) }}
           </div>

           <div class="filtreLabels">
               {{ form_label(form.max) }}
               {{ form_widget(form.max) }}
           </div>

            <div >
                <div class="check">
                    {{ form_row(form.isOrga) }}
                </div>
                <div class="check">
                    {{ form_row(form.isInscrit) }}
                </div>
                <div class="check">
                    {{ form_row(form.isNotInscrit) }}
                </div>
                <div class="check">
                    {{ form_row(form.sortiesPassees) }}
                </div>
            </div>
        </div>
        <button id="boutonFiltre" class="boutonMain" type="submit" title="rechercher">Rechercher</button>
        {{ form_end(form) }}

    </fieldset>

    <section>
        <div class="header_tab">
            <table>
                <tr>
                    <th>Nom de la sortie</th>
                    <th>Date de la sortie</th>
                    <th>Clôture</th>
                    <th>Inscrits / Places</th>
                    <th>Etat</th>
                    <th>Inscrit</th>
                    <th>Organisateur</th>
                    <th>Actions</th>
                </tr>
            </table>
        </div>

        <div class="contenu_tab">
            <table>
                {#AFFICHER LES SORTIE AVEC UN ETAT CREE QUE POUR L ORGANISATEUR#}
            {% for sortie in listeSorties %}
                {% if sortie.organisateur.id != app.user.id and sortie.etat.id == 1%}
                {% elseif sortie.etat.id == 7 %}
                {% else %}
                <tr>
                    <td class="sortieNom"><a href="{{path('sortie_afficheSortie', { id: sortie.id } ) }}">{{ sortie.nom }}</a></td>
                    <td>Le {{ sortie.dateHeureDebut | date('d/m/Y') }} à {{ sortie.dateHeureDebut | date('H') }}h{{ sortie.dateHeureDebut | date('i') }}</td>
                    <td>Le {{ sortie.dateLimiteInscription | date('d/m/Y') }} à {{ sortie.dateLimiteInscription | date('H') }}h{{ sortie.dateLimiteInscription | date('i') }}</td>
                    <td>
                        {{ sortie.participants | length }} / {{ sortie.nbInscriptionsMax }}
                        {% if sortie.participants | length >= sortie.nbInscriptionsMax%}Complet !{% endif %}
                    </td>
                    <td>{{ sortie.etat.libelle }}</td>
                    <td>
                        {% if app.user in sortie.participants%}
                            <input type="checkbox" id="tab_inscrit" name="tab_inscrit" checked disabled="disabled">
                        {% else %}
                            <input type="checkbox" id="tab_inscrit" name="tab_inscrit" disabled="disabled">
                        {% endif %}
                    </td>
                    <td class="sortieNom"><a href="{{path('user_detailProfil', { id: sortie.organisateur.id } ) }}" title="Profil de {{ sortie.organisateur.username }}">{{ sortie.organisateur.username }}</a></td>



                    <td>
                        <a href="{{path('sortie_afficheSortie', { id: sortie.id } ) }}">Afficher</a>
                        {% if sortie.organisateur.id == app.user.id and sortie.etat.id == 1%}
                            <a href="{{path('sortie_publication', { id: sortie.id } ) }}">Publier</a>
                        {% endif %}

                        {% if sortie.organisateur.id == app.user.id and sortie.etat.id != 4 and sortie.etat.id != 5 and sortie.etat.id != 6 and sortie.etat.id != 7%}
                            <a href="{{path('sortie_afficheAnnulationSortie', { id: sortie.id } ) }}">Annuler</a>
                        {% endif %}

                        {% if (sortie.organisateur.id == app.user.id) and (sortie.etat.id == 1 or sortie.etat.id == 2 or sortie.etat.id == 3)%}
                            <a href="">Modifier</a>
                        {% endif %}

                        {% if app.user not in sortie.participants and sortie.etat.id == 2 and sortie.participants | length < sortie.nbInscriptionsMax%}
                            <a href="{{path('sortie_inscription', { id: sortie.id } ) }}">S'inscrire</a>
                        {% endif %}

                        {% if app.user in sortie.participants and (sortie.etat.id == 2 or sortie.etat.id == 3) %}
                            <a href="{{path('sortie_desinscription', { id: sortie.id } ) }}">Se désister</a>
                        {% endif %}
                    </td>
                </tr>
                {% endif %}
            {% else %}
                <p>Désolé, aucune sortie ne correspond à vôtre recherche</p>
            {% endfor %}
            </table>
        </div>
    </section>
    <div>
        <a href="{{path('sortie_creerSortie') }}" class="boutonMain" >Créer une sortie</a>
    </div>
{% endblock %}