{% extends 'base.html.twig' %}
{% block title %}Sortie {{ sortie.nom }}{% endblock %}
{% block body %}
    <div class="conteneur-AfficheSortie">
        <h1 class="titre-afficheSortie">{{ sortie.nom }}</h1>
    {% if(sortie.etat.id == 6) %}
        <div id="zone_annulation">
            <h2 id="sortie_annulee">Sortie annulée !</h2>
            <p>{{ sortie.motif }}</p>
        </div>
    {% endif %}
    <!-- Boucle dans la classe sorties -->

        <div>      <!--affichage des propriétés de la table sortie de la BDD-->
             <ul class="bloc-AfficheSortie">
                <li><div class="label-AfficheSortie">Organisateur</div><div class="champ-AfficheSortie">{{ sortie.organisateur.username }}</div></li>
                <li><div class="label-AfficheSortie">Début</div><div class="champ-AfficheSortie">{{ sortie.dateHeureDebut | date ('Y-m-d H: i: s') }}</div></li>
                <li><div class="label-AfficheSortie">Nombre de place</div><div class="champ-AfficheSortie">{{ sortie.nbInscriptionsMax }}</div></li>
                <li><div class="label-AfficheSortie">Date Limite d'inscription</div><div class="champ-AfficheSortie">{{ sortie.dateLimiteInscription | date ('Y-m-d H: i: s') }}</div></li>
                <li><div class="label-AfficheSortie">Durée</div>
                        <div class="champ-AfficheSortie">{% if sortie.duree > 60 %}
                         {% set heures = sortie.duree//60 %}
                         {% set minutes = sortie.duree%60 %}
                         {{ heures }} heure(s) et {{ minutes }} minute(s)
                     {% else %}
                        {{ sortie.duree }} minute(s)
                     {% endif %}</div>
                </li>
                <li><div class="label-AfficheSortie">Campus</div><div class="champ-AfficheSortie">{{ sortie.campus.nom }}</div></li>
                <li><div class="label-AfficheSortie">Lieu</div><div class="champ-AfficheSortie">{{ sortie.lieu.ville.nom }}</div></li>
                <li><div class="label-AfficheSortie">Code Postal</div><div class="champ-AfficheSortie">{{ sortie.lieu.ville.codePostal }}</div></li>
                <li><div class="label-AfficheSortie">Latitude</div><div class="champ-AfficheSortie">{{ sortie.lieu.latitude }}</div></li>
                <li><div class="label-AfficheSortie">Longitude</div><div class="champ-AfficheSortie">{{ sortie.lieu.longitude }}</div></li>
             </ul>
        </div>
        <div>
            <ul  class="bloc-AfficheSortie">
                <li><div class="label-AfficheSortie">Description</div></li>
                <li><div class="champ-AfficheSortie">{{ sortie.infosSortie }}</div></li>
            </ul>
        </div>


        <div>   <!--affichage du nombre de participants table sortie de la BDD avec une boucle-->
            <table>
                <h4>Liste des particpants</h4>
                    <tr><td>Pseudo</td><td>Nom</td></tr>

                        {% for participant in sortie.participants %}
                            <div class ="listParticipant">
                                <tr>
                                    <td>
                                        <a
                                            href="{{path('user_detailProfil', { id: participant.id } ) }}"
                                            title="Profil de {{ participant.username }}"
                                        >
                                                {{ participant.username }}
                                        </a>
                                    </td>
                                    <td>
                                        {{ participant.prenom }} {{ participant.nom }}
                                    </td>
                                </tr>

                            </div>
                     {% endfor %}
            </table>
            {% if sortie.participants| length == 0 %}<p>Pas de participants !</p>{% endif %}
        </div>
    </div>


    <!-- si user = organisateur -->
    {% if sortie.organisateur.id == app.user.id and sortie.etat.id != 4 and sortie.etat.id != 5 and sortie.etat.id != 6 and sortie.etat.id != 7 %}
        <div class="boutonCreationSortie">
            <a href="{{path('sortie_afficheAnnulationSortie', { id: sortie.id } ) }}" id="boutonModifierProfil">Annuler la sortie</a>
        </div>
    {% endif %}

    {% if (sortie.organisateur.id == app.user.id) and (sortie.etat.id == 1 or sortie.etat.id == 2 or sortie.etat.id == 3)%}
        <div class="boutonCreationSortie">
            <a href="{{path('sortie_modifierSortie', { id: sortie.id } ) }}" id="boutonModifierProfil">Modifier</a>
        </div>
    {% endif %}
    <!-- si user = organisateur et sortie crée-->
    {% if sortie.organisateur is same as(app.user) and sortie.etat.id == 1%}
        <div class="boutonCreationSortie">
            <a href="{{path('sortie_publication', { id: sortie.id } ) }}" id="boutonModifierProfil">Publier la sortie</a>
        </div>
    {% endif %}

    <!-- si user =/= organisateur -->

    <!-- si user inscrit -->
    {% if app.user in sortie.participants and (sortie.etat.id == 2 or sortie.etat.id == 3) %}
        <div class="boutonCreationSortie">
            <a href="{{path('sortie_desinscription', { id: sortie.id } ) }}" id="boutonModifierProfil">se desincrire</a>
        </div>
    {% endif %}

    <!-- si user pas inscrit -->
    {% if app.user not in sortie.participants and sortie.etat.id == 2 and sortie.participants | length < sortie.nbInscriptionsMax%}
        <div class="boutonCreationSortie">
            <a href="{{path('sortie_inscription', { id: sortie.id } ) }}" id="boutonModifierProfil">s'inscrire à la sortie</a>
    {% endif %}




{% endblock %}