{% extends 'base.html.twig' %}
{% block head %}<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>{% endblock %}
{% block title %}Sortir | Accueil{% endblock %}


{% block body %}

    {{ form_start(sortieForm) }}

    <div class="erreurModifProfil">
        {{ form_errors(sortieForm.nom) }}
        {{ form_errors(sortieForm.dateHeureDebut) }}
        {{ form_errors(sortieForm.duree) }}
        {{ form_errors(sortieForm.dateLimiteInscription) }}
        {{ form_errors(sortieForm.nbInscriptionsMax) }}
        {{ form_errors(sortieForm.infosSortie) }}
        {{ form_errors(sortieForm.lieu) }}
    </div>

    <div class="conteneur-AfficheSortie">

        <h1>Creer une sortie</h1>

        <ul>
            <li>
                {{ form_label(sortieForm.nom,'Nom de la sortie', {'label_attr': {'class': 'label-afficheSortie'}}) }}
                {{ form_widget(sortieForm.nom, {'attr': {'class': 'champ-afficheSortie'}}) }}
            </li>
            <li>
                {{ form_label(sortieForm.dateHeureDebut,'Début de la sortie', {'label_attr': {'class': 'label-afficheSortie'}}) }}
                {{ form_widget(sortieForm.dateHeureDebut, {'attr': {'class': 'champ-afficheSortie'}}) }}
            </li>
            <li>
                {{ form_label(sortieForm.duree,'Durée', {'label_attr': {'class': 'label-afficheSortie'}}) }}
                {{ form_widget(sortieForm.duree, {'attr': {'class': 'champ-afficheSortie'}}) }}
            </li>
            <li>
                {{ form_label(sortieForm.dateLimiteInscription,'Date limite d\'inscription', {'label_attr': {'class': 'label-afficheSortie'}}) }}
                {{ form_widget(sortieForm.dateLimiteInscription, {'attr': {'class': 'champ-afficheSortie'}}) }}
            </li>
            <li>
                {{ form_label(sortieForm.nbInscriptionsMax,'Nombre de place', {'label_attr': {'class': 'label-afficheSortie'}}) }}
                {{ form_widget(sortieForm.nbInscriptionsMax, {'attr': {'class': 'champ-afficheSortie'}}) }}
            </li>
            <li>
                {{ form_label(sortieForm.infosSortie,'Description', {'label_attr': {'class': 'label-afficheSortie'}}) }}
                {{ form_widget(sortieForm.infosSortie, {'attr': {'class': 'champ-afficheSortie'}}) }}
            </li>
        </ul>

        {{ form_row(sortieForm.lieu) }}
        <label>Ville</label>
        <select class="villeSelect" id="villeSelect">

        </select>

       <script>

            $(document).ready(function(){
                $("#sortie_lieu").on('change', function run() {
                    var selectElmt = document.getElementById("sortie_lieu");
                    var id = selectElmt.options[selectElmt.selectedIndex].value;
                    $.ajax({
                        url : "{{ path('getLieu') }}",
                        type : 'POST',
                        data: {id: id}
                    }).done(function(data) {
                        document.getElementById('nomLieu').innerHTML = data;

                    }).fail(function() {
                        console.log('Failed');
                    });

                })
            });

        </script>



        <button type="submit">Valider</button>


        {{ form_end(sortieForm) }}
    </div>


    <ul>
        <span id="nomLieu"> </span>
    </ul>

    <a href="{{path('sortie_creerLieu') }}" title="Sortir | Créer un lieu">créer un lieu</a>
{% endblock %}