{% extends 'base.html.twig' %}
{% block head %}<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>{% endblock %}
{% block title %}Sortir | Accueil{% endblock %}
{% block body %}
    <h1>Creer une sortie</h1>


    <div id="sortie_form">
        {{ form_start(sortieForm) }}

            {{ form_row(sortieForm.nom) }}
            {{ form_row(sortieForm.dateHeureDebut) }}
            {{ form_row(sortieForm.duree) }}
            {{ form_row(sortieForm.dateLimiteInscription) }}
            {{ form_row(sortieForm.nbInscriptionsMax) }}
            {{ form_row(sortieForm.infosSortie) }}
            {{ form_row(sortieForm.lieu) }}

    <button type="submit">Valider</button>
        {{ form_end(sortieForm) }}
    </div>



<script>

 function run() {


     var selectElmt = document.getElementById("sortie_lieu");
     var id = selectElmt.options[selectElmt.selectedIndex].value;
     document.getElementById('nomLieu').innerHTML = id;







         console.log(id);

 }



 </script>


    <!-- DETAIL LIEU -->

    <!-- <button type="submit">Choisir ce lieu</button> -->
    <ul>

        <li id="nomLieu" aria-label="nom lieu">Nom Lieu =  </li>
        <li> latitude :         </li>
        <li> longitude :         </li>
    </ul>

    <a href="{{path('sortie_creerLieu') }}" title="Sortir | Créer un lieu">créer un lieu</a>
{% endblock %}