{% extends 'base.html.twig' %}
{% block title %}Sortir | Détail profil{% endblock %}

{% block body %}


    <div id="liste-afficheProfilContainer">
        <h1>Profil</h1>
            <div id="carteAfficheProfil">
                <div id="photo-afficheProfil">
                     <img src="{{ asset('img/pp/')~user.photo }}" alt="Photo" />
                </div>
                <ul id="liste-afficheProfil">
                    <li><div class="label-afficheProfil">Pseudo  </div><div class="champ-afficheProfil">{{ user.username }}</div></li>
                    <li><div class="label-afficheProfil">Nom  </div><div class="champ-afficheProfil">{{ user.nom }}</div></li>
                    <li><div class="label-afficheProfil">Prénom  </div><div class="champ-afficheProfil">{{ user.prenom }}</div></li>
                    <li><div class="label-afficheProfil">Campus  </div><div class="champ-afficheProfil">{{ user.campus.nom }}</div></li>
                    <li><div class="label-afficheProfil">Téléphone </div><div class="champ-afficheProfil">{{ user.telephone }}</div></li>
                    <li><div class="label-afficheProfil">Email  </div><div class="champ-afficheProfil">{{ user.email }}</div></li>
                </ul>
            </div>
        {% if user is same as(app.user) %}
            <div id="boutonModifierProfilContainer">
                <a href="{{path('user_modifierProfil', { id : user.id } ) }}"  class="boutonModifierProfil" title="Sortir | Mon profil">Modifier mon profil</a>
            </div>
        {% endif %}
    </div>





{% endblock %}