{% extends 'base.html.twig' %}
{% block title %}Sortir | Détail profil{% endblock %}

{% block body %}
    <h1>Détail profil :</h1>

    <div>
        <ul>
            <li>Pseudo : {{ user.username }}</li>
            <li>Nom : {{ user.nom }}</li>
            <li>Prénom : {{ user.prenom }}</li>
            <li>Campus : {{ user.campus.nom }}</li>
            <li>Téléphone : {{ user.telephone }}</li>
            <li>Email : {{ user.email }}</li>
            <li>Photo : en cours</li>

        </ul>
    </div>



    {% if user is same as(app.user) %}

        <a href="{{path('user_modifierProfil', { id : user.id } ) }}" title="Sortir | Mon profil">Modifier mon profil</a>

    {% endif %}


    <img src="{{ asset('img/')~app.user.photo }}" alt="Photo" />


{% endblock %}