{% extends 'base.html.twig' %}
{% block title %}Sortir | Modifier profil{% endblock %}

{% block body %}
    <h1>Modifier profil :</h1>

    <div id="register_form">

        {{ form_start(userForm) }}
        {{ form_row(userForm.username) }}
        {{ form_row(userForm.nom) }}
        {{ form_row(userForm.prenom) }}
        {{ form_row(userForm.telephone) }}
        {{ form_row(userForm.email) }}
        {{ form_row(userForm.password) }}
        {{ form_row(userForm.photo) }}

        <button type="submit">Valider les modifications</button>

        {{ form_end(userForm) }}

    </div>



{% endblock %}