{% extends 'base.html.twig' %}
{% block title %}Sortir | Modifier profil{% endblock %}

{% block body %}

    <div id="liste-afficheProfilContainer">
        <h1>Modifier profil</h1>
        {{ form_start(userForm) }}
            <div id="carteAfficheProfil">

                <div id="photo-afficheProfil">
                    <img src="{{ asset('img/pp/')~app.user.photo }}" alt="Photo" />
                </div>
                <ul id="liste-afficheProfil" class="borderNone">
                    <li>
                        {{ form_label(userForm.username,'Pseudo', {'label_attr': {'class': 'label-afficheProfil'}}) }}
                        {{ form_widget(userForm.username, {'attr': {'class': 'champ-afficheProfil'}}) }}
                    </li>
                    <li>
                        {{ form_label(userForm.nom,'Nom', {'label_attr': {'class': 'label-afficheProfil'}}) }}
                        {{ form_widget(userForm.nom, {'attr': {'class': 'champ-afficheProfil'}}) }}
                    </li>
                    <li>
                        {{ form_label(userForm.prenom,'Prénom', {'label_attr': {'class': 'label-afficheProfil'}}) }}
                        {{ form_widget(userForm.prenom, {'attr': {'class': 'champ-afficheProfil'}}) }}
                    </li>
                    <li>
                        {{ form_label(userForm.telephone,'Téléphone', {'label_attr': {'class': 'label-afficheProfil'}}) }}
                        {{ form_widget(userForm.telephone, {'attr': {'class': 'champ-afficheProfil'}}) }}
                    </li>
                    <li>
                        {{ form_label(userForm.email,'Email', {'label_attr': {'class': 'label-afficheProfil'}}) }}
                        {{ form_widget(userForm.email, {'attr': {'class': 'champ-afficheProfil'}}) }}
                    </li>
                    <li>
                        {{ form_label(userForm.password.first,'Mot de passe', {'label_attr': {'class': 'label-afficheProfil'}}) }}
                        {{ form_widget(userForm.password.first, {'attr': {'class': 'champ-afficheProfil'}}) }}
                    </li>
                    <li>
                        {{ form_label(userForm.password.second,'Répéter mot de passe', {'label_attr': {'class': 'label-afficheProfil'}}) }}
                        {{ form_widget(userForm.password.second, {'attr': {'class': 'champ-afficheProfil'}}) }}
                    </li>
                    <li >
                        {{ form_label(userForm.photo,'Photo', {'label_attr': {'class': 'label-afficheProfil'}}) }}
                        {{ form_widget(userForm.photo, {'attr': {'class': 'champ-afficheProfil'}}) }}
                    </li>
                </ul>
            </div>
            <div id="boutonModifierProfilContainer">
                <button type="submit" id="boutonModifierProfil">Valider les modifications</button>
            </div>
        {{ form_end(userForm) }}
    </div>


{% endblock %}